@import url('//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
/* COLOR */
$color-primary-base: 				#04669c;
$color-primary-dark: 				darken($color-primary-base, 12%);
$color-primary-light: 			lighten($color-primary-base, 15%);

$color-secondary-base: 			#00AB54;
$color-secondary-dark: 			darken($color-secondary-base, 12%);
$color-secondary-light: 		lighten($color-secondary-base, 15%);

$color-gray-base:           #242424;
$color-gray-darker:         #2a2a2a;
$color-gray-dark:           #797979;
$color-gray:                #c6c6c6;
$color-gray-light:          #eaeaea;
$color-gray-lighter:        #f4f4f4;
$color-bluish-gray:        	#273341;
$color-white:        				#fff;
$color-black:        				#1c1c1c;
$color-darkness: 						#141518;

$color-success:         		#2d9c5d;
$color-info:            		#5bc0de;
$color-warning:         		#FFA628;
$color-danger:          		#d9534f;

$color-flickr: 							#FF0084;
$color-github: 							#000;
$color-linkedin: 						#007bb6;
$color-pinterest: 					#cb2027;
$color-skype: 							#00aff0;
$color-behance: 						#000;
$color-facebook: 						#3c599f;
$color-foursquare: 					#1cafec;
$color-google:			 				#cf1717;
$color-instagram: 					#2a5b83;
$color-lastfm: 							#d21309;
$color-steam: 							#000;
$color-vine: 								#00a478;
$color-wordpress: 					#21759a;
$color-yahoo: 							#572c73;
$color-soundcloud:			 		#f7620e;
$color-vimeo: 							#1ab7ea;
$color-spotify: 						#1ed760;
$color-twitter: 						#33ccff;
$color-whatsapp: 						#179653;
$color-youtube: 						#ce1525;
$color-telegram: 						#0088cc;

$color-background-base: 		#2a2a2a;
$color-background-dark: 		darken($color-background-base, 8%);
$color-background-light: 		lighten($color-background-base, 15%);

$color-font:								$color-white;

$color-footer-base: 				$color-gray-darker;
$color-footer-dark: 				darken($color-footer-base, 8%);
$color-footer-light: 				lighten($color-footer-base, 15%);

/* FONT */
$font-family-base: 							'Open Sans', sans-serif;
$font-family-secondary: 				'Open Sans', sans-serif;

$font-size-base:          	14px;
$font-size-small:         	12px;
$font-size-wee:         		10px;
$font-size-large:         	ceil($font-size-base * 1.25);		// 18px
$font-size-h1:            	floor($font-size-base * 2.6);		// 36px
$font-size-h2:            	floor($font-size-base * 2.15);	// 30px
$font-size-h3:            	ceil($font-size-base * 1.7);		// 24px
$font-size-h4:            	ceil($font-size-base * 1.25);		// 18px
$font-size-h5:            	ceil($font-size-base * 1.125);	// 16px
$font-size-h6:            	ceil($font-size-base * 0.85);		// 12px

$font-weight-thin: 					100;
$font-weight-extra-light: 	200;
$font-weight-light: 				300;
$font-weight-normal: 				normal;
$font-weight-medium: 				500;
$font-weight-semi-bold: 		600;
$font-weight-bold: 					700;
$font-weight-extra-bold: 		800;
$font-weight-ultra-bold: 		900;

$text-color:        				$color-gray-darker;
$link-color:            		$color-primary-base;
$link-hover-color:      		$color-primary-dark;
$link-hover-decoration: 		underline;

$padding-tiny:							5px;
$padding-wee:								10px;
$padding-small:							15px;
$padding-base:							20px;
$padding-middle: 						25px;
$padding-extra: 						30px;
$padding-large: 						35px;
$padding-big: 							40px;

$margin-tiny:								5px;
$margin-wee:								10px;
$margin-small:							15px;
$margin-base:								20px;
$margin-middle: 						25px;
$margin-extra: 							30px;
$margin-large: 							35px;
$margin-big: 								40px;

$z-index-force:							9999;
$z-index-aheader:						25;
$z-index-ahead:							20;
$z-index-base:							15;
$z-index-behind:						10;
$z-index-behinder:					5;
$z-index-background: 				0;

$border-radius: 						3px;
$border: 										1px solid $color-gray-light;

$time-delay: 								0.05s;
$time-duration: 						0.25s;

@function double($value) {
	@return $value * 2
};

@function triple($value) {
	@return $value * 3;
};

@function half($value) {
	@return $value / 2
};

.scrolloff {pointer-events: none;}

.fa-github-alt,
.fa-pinterest-p,
.fa-behance,
.fa-facebook,
.fa-foursquare,
.fa-google-plus,
.fa-instagram,
.fa-lastfm,
.fa-linkedin,
.fa-skype,
.fa-steam,
.fa-vine,
.fa-wordpress,
.fa-yahoo,
.fa-vimeo,
.fa-soundcloud,
.fa-spotify,
.fa-twitter,
.fa-whatsapp,
.fa-youtube-play {
	@include transition-simple;
	&:hover {color: $color-white;}
}

.fa-github-alt:hover {background: $color-github !important;}
.fa-pinterest-p:hover {background: $color-pinterest !important;}
.fa-behance:hover {background: $color-behance !important;}
.fa-facebook:hover {background: $color-facebook !important;}
.fa-foursquare:hover {background: $color-foursquare !important;}
.fa-google-plus:hover {background: $color-google !important;}
.fa-instagram:hover {background: $color-instagram !important;}
.fa-lastfm:hover {background: $color-lastfm !important;}
.fa-linkedin:hover {background: $color-linkedin !important;}
.fa-skype:hover {background: $color-skype !important;}
.fa-steam:hover {background: $color-steam !important;}
.fa-vine:hover {background: $color-vine !important;}
.fa-wordpress:hover {background: $color-wordpress !important;}
.fa-yahoo:hover {background: $color-yahoo !important;}
.fa-vimeo:hover {background: $color-vimeo !important;}
.fa-soundcloud:hover {background: $color-soundcloud !important;}
.fa-spotify:hover {background: $color-spotify !important;}
.fa-twitter:hover {background: $color-twitter !important;}
.fa-whatsapp:hover {background: $color-whatsapp !important;}
.fa-youtube-play:hover {background: $color-youtube !important;}

.fixed {position: fixed;}
.absolute {position: absolute;}
.static {position: static;}

.top {top: 0;}
.right {right: 0;}
.left {left: 0;}
.bottom {bottom: 0;}
